.banner {
  min-height: 111px;
  max-width: 1240px;
  width: 100%;
  margin: auto;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background: rgba(0, 0, 0, 0.3) url(../assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

.hero_about {
  min-height: 223px;
  background: rgba(0, 0, 0, 0.3) url(../assets/hero_about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.banner h1 {
  font-size: 2.5rem;
  color: #fff;
  margin: 1em 0.5em;
}

.banner h1 .br {
  display: none;
}

/* @media screen and (max-width: 1441px) {
  .banner {
    max-width: unset;
  }
} */

@media screen and (max-width: 980px) {
  .banner h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    border-radius: 10px;
  }
  .hero {
    display: flex;
    justify-content: flex-start;
  }
  .banner h1 {
    font-size: 1.5rem;
    margin: 0.5em;
  }
  .banner h1 .br {
    display: block;
  }
}

@media screen and (max-width: 300px) {
  .banner h1 {
    font-size: 100%;
  }
}
