.home {
  padding: 2em 4em;
}

.board {
  max-width: calc(1240px - 2em);
  margin: 2em auto;
  padding: 2em;
  border-radius: 25px;
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 1.8em;
  justify-items: center;
}

.board a {
  width: 100%;
}

@media screen and (max-width: 1441px) {
  .board {
    max-width: unset;
  }
}

@media screen and (max-width: 980px) {
  .home {
    padding: 2em;
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding: 1em;
  }

  .board {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 500px) {
  .board {
    background-color: #fff;
    padding: 0;
  }
}
