.home {
  padding: 2em 4em;
}

.board {
  margin-top: 2em;
  padding: 2em;
  border-radius: 25px;
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 40px;
  grid-auto-flow: dense;
  justify-items: center;
}
