html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: calc(15px + 0.390625vw);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ff6060;
}

a {
  text-decoration: none;
  color: #ff6060;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
