.locations {
  width: 100%;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrousel {
  width: 100%;
  border-radius: 25px;
}
.informations_container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
}
.informations {
  width: 50%;
}

.informations_1 ul {
  display: flex;
  flex-wrap: wrap;
}

.informations_2 {
  text-align: right;
}

.host {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5em;
}

.host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 0.5em;
}

.rating {
  display: flex;
  justify-content: flex-end;
}

.dropdown_container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
}
