.locations {
  padding: 0 4em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrousel {
  width: 100%;
  border-radius: 25px;
}
.informations_container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.informations_1 {
  width: 80%;
}

.informations_1 h1 {
  font-weight: 500;
  width: 80%;
}

.informations_1 ul {
  display: flex;
  flex-wrap: wrap;
}

.informations_2 {
  width: 20%;
  text-align: right;
}

.host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5em;
  margin-left: 1em;
}

.host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 0.5em;
}

.rating {
  display: flex;
  justify-content: flex-end;
}

.rating li {
  display: flex;
  align-items: center;
}
.rating li img {
  margin: auto;
  width: 100%;
}
.dropdown_container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 980px) {
  .locations {
    padding: 0 2em 2em;
  }

  .carrousel {
    border-radius: 10px;
  }

  .carrousel_arrow {
    width: 20px;
  }

  .informations {
    width: 100%;
  }

  .informations_1 h1 {
    font-size: 1.5rem;
  }

  .informations_2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .host {
    margin-top: 0;
  }
  .rating {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .locations {
    padding: 0 1em 1em;
  }
}

@media screen and (max-width: 500px) {
  .informations_1 h1 {
    font-size: 1.3rem;
  }

  .rating li {
    width: 15%;
  }

  .host img {
    width: 50px;
    height: 50px;
  }
}
