.navbar {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em 4em 1em;
  font-size: 1.2rem;
  margin: auto;
}

.navbar img {
  width: 200px;
  margin-right: 2em;
}

.links {
  display: flex;
}

.links li:nth-child(2) {
  margin-left: 2em;
}

.links li a {
  color: #ff6060;
}

.links li a:hover {
  text-decoration: underline;
}

.links_active {
  text-decoration: underline;
}

@media screen and (max-width: 980px) {
  .navbar {
    padding: 2em 2em 1em;
  }
}

@media screen and (max-width: 768px) {
  .navbar img {
    width: 145px;
    margin-right: 1em;
  }
  .navbar {
    padding: 2em 1em 0.5em;
  }
  .links {
    font-size: 1rem;
  }
  .links li:nth-child(2) {
    margin-left: 0.8em;
  }
}

@media screen and (max-width: 1441px) {
  .navbar {
    max-width: 100%;
  }
}
