.tag {
  padding: 0.5em 2em;
  border-radius: 10px;
  background-color: #ff6060;
  color: #fff;
  margin-right: 1em;
  margin-top: 1em;
  display: flex;
  align-items: center;
  font-weight: 500;
}

@media screen and (max-width: 980px) {
  .tag {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .tag {
    font-size: 0.7rem;
  }
}
